# Global File Extensions

*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj
*.unitypackage
*.apk
*.vs

*.exe
*_Data/

*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?

# Editor Configurations

.vs/
.vscode/

# Build Artifacts

[Bb]uild/
[Bb]uilds/

# Unity Project Files

external_leapmotion_sdk_unity/[Ee]xported[Oo]bj/
external_leapmotion_sdk_unity/[Ll]ibrary/
external_leapmotion_sdk_unity/[Tt]emp/
external_leapmotion_sdk_unity/[Oo]bj/
external_leapmotion_sdk_unity/[Tt]emp/
external_leapmotion_sdk_unity/*_ElementData*
external_leapmotion_sdk_unity/UnityPlayer.dll
